/.github export-ignore
/bin export-ignore
/tests export-ignore
/.gitignore export-ignore
/.distignore export-ignore
/.gitattributes export-ignore
/phpunit.xml.dist export-ignore
/phpcs.xml.dist export-ignore
/DEVELOPMENT.md export-ignore
/TESTING.md export-ignore
/RELEASE_NOTES.md export-ignore
